doctype html
html(lang="en")
    head 
        title Landing Page 
    body
        h1 Home of great things to come
        p This is a landing page for a great product Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla magni quam ab mollitia repellat itaque ipsa illo soluta eos aperiam.

        ul 
            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.